@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
    @apply text-center text-[20px] md:text-[30px] lg:text-4xl xl:text-5xl text-[#030712] font-bold
}

.description {
    @apply text-sm md:text-[18px] text-[#03071299] w-full md:w-1/2 leading-[140%]
}

.card-description {
    @apply text-[20px] text-[#030712CC]
}
.bus-container{
    @apply max-w-[1320px] mx-auto px-8 md:px-2 lg:px-0
}

/* Navbar style  */
@keyframes pulse-scale {
    0% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(0.95);
    }
}

.animate-pulse-scale {
    animation: pulse-scale 2s infinite 300ms;
}


.button {
    transition: transform 0.3s;
    padding-top: 14px;
    color: white;
    background-color: #E67529;
    padding-bottom: 14px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 0.75rem;
    border: 1px solid #E67529;
}
.button:hover {
    transform: scale(1.05);
}